{% extends "govuk/template.njk" %}

{% block pageTitle %}{% if errors and errors['child-school-age'] %}Error: {% endif %}Is your child school age? – GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: "Is your child school age?",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors['child-school-age'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errors['child-school-age'], href: "#child-school-age" }]
      }) }}
    {% endif %}

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrf }}">
    {{ govukRadios({
      name: "child-school-age",
      fieldset: {
        legend: {
          text: "Is your child school age?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "School age is from 4 to 16 years old" },
      errorMessage: errors and errors['child-school-age'] and { text: errors['child-school-age'] },
      value: data['child-school-age'],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
