{% extends "govuk/template.njk" %}

{% block pageTitle %}You cannot use this service – GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: "Apply for free school meals",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    <h1 class="govuk-heading-xl">You cannot use this service</h1>
    <p class="govuk-body">Your child must be school age to get free school meals. School age is from 4 to 16 years old.</p>
    <h2 class="govuk-heading-m">What you can do</h2>
    <p class="govuk-body">If you think this is wrong, <a href="/" class="govuk-link">start again</a> or contact us for help.</p>

  </div>
</div>
{% endblock %}
